@model IEnumerable<AppointmentWebApp.Models.Review>

@{
    ViewData["Title"] = "Review";
}

<body>
    <h1>Reviews</h1>
    <div class="search-container">
        <form method="post" asp-action="Index">
            <div class="input-group">
                <input type="text" class="form-control" name="searchTerm" placeholder="Search by Review ID, Doctor Name, Patient Name, Patient ID, Doctor ID..." />
                
                <select id="ratingFilter" name="ratingFilter" class="select ms-4">
                    <option value="">Filter Ratings</option>
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
                </select>
                <button class="btn btn-secondary ms-4" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div style="height: 20px;"></div>

    @if(User.IsInRole("Patient"))
    {
            @if (Model == null || !Model.Any())
    {
        <p>No reviews available at the moment.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ReviewId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DoctorId)
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comment)
                    </th>
                    <th>Actions</th> 
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReviewId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DoctorId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor.FirstName)
                             
                            @Html.DisplayFor(modelItem => item.Doctor.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td>
                                <a asp-controller="Users"
                               asp-action="UserDetails"
                           asp-route-id="@item.DoctorId"
                           asp-route-rate="true"
                               class="btn btn-warning ms-2">
                           Update</a>
                        </td>
                        <td>

                            <form asp-action="DeleteConfirmed" asp-route-id="@item.ReviewId" method="post">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    }
    @if (User.IsInRole("Doctor"))
    {
        @if (Model == null || !Model.Any())
        {
            <p>No reviews available at the moment.</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ReviewId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PatientId)
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comment)
                        </th>
                        <th>Actions</th> <!-- Add a header for the Actions column -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReviewId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PatientId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Patient.FirstName)

                                @Html.DisplayFor(modelItem => item.Patient.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comment)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    }
    @if (User.IsInRole("Admin"))
    {
        @if (Model == null || !Model.Any())
        {
            <p>No reviews available at the moment.</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ReviewId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DoctorId)
                        </th>
                        <th>
                            Doctor Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PatientId)
                        </th>
                        <th>
                            Patient Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comment)
                        </th>
                        <th>Actions</th> 
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReviewId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DoctorId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Doctor.FirstName)

                                @Html.DisplayFor(modelItem => item.Doctor.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PatientId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Patient.FirstName)

                                @Html.DisplayFor(modelItem => item.Patient.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comment)
                            </td>
                            <td>

                                <form asp-action="DeleteConfirmed" asp-route-id="@item.ReviewId" method="post">
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                </form>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    }
</body>
<div style="height: 220px;"></div>




