@using Microsoft.AspNetCore.Identity
@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Search Doctors";

}

<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/card.css" />
    <div class="input-group">
        <input type="text" class="form-control" name="searchString" id="searchBox" placeholder="Search by ID, Name, Specialization, or Email" autocomplete="off" style="width: 300px;" />
    <button class="btn btn-secondary ms-2" onclick="window.location.href='@Url.Action("Index")?searchString=' + document.getElementById('searchBox').value">Search</button>
    
        <div class="dropdown ms-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="specializationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Specialization
            </button>
            <ul class="dropdown-menu" aria-labelledby="specializationDropdown">
                <li><a class="dropdown-item" href="@Url.Action("Index")">All Specializations</a></li>
                @foreach (var item in ViewBag.SpecializationCounts)
                {
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Index", new { specialization = item.Specialization })">
                            @item.Specialization (@item.Count)
                        </a>
                    </li>
                }
            </ul>

        </div>
    <button class="btn btn-secondary ms-2"
            onclick="window.location.href='@Url.Action("Index", new { searchString = ViewBag.SearchString, specialization = ViewBag.Specialization, filterBy = "rating" })'">
        Filter by Rating
    </button>

    <button class="btn btn-secondary ms-2"
            onclick="window.location.href='@Url.Action("Index", new { searchString = ViewBag.SearchString, specialization = ViewBag.Specialization, filterBy = "experience" })'">
        Filter by Experience
    </button>

    </div>



<div id="suggestions" class="list-group"></div>

@if (Model.Any())
{
    <div class="container mt-4">
        <div class="row">
            @foreach (var user in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="profile-pic">
                            <img src="@(!string.IsNullOrEmpty(user.ProfilePicturePath) ? user.ProfilePicturePath : Url.Content("~/images/default-profile.png"))"
                                 class="card-img-top" />
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">@user.FirstName @user.LastName</h5>
                            <p class="card-text">
                                <strong>@user.UserName<br /></strong>
                                <strong>@user.Specialization<br /></strong>
@*                                 <strong>Rating: @user.AverageRating/5 (@user.Reviews.Count)</strong> *@
                            </p>
                            <a asp-controller="Users" asp-action="UserDetails" asp-route-id="@user.Id" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>No doctors found.</p>
}


<style>
    <style >
    .clickable-row {
        cursor: pointer;
    }
</style>
</style>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Handle search box input and suggestions
            $('#searchBox').on('input', function () {
                var query = $(this).val();
                if (query.length > 1) {
                    $.ajax({
                        url: '@Url.Action("GetSuggestions", "Search")',
                        data: { query: query },
                        success: function (data) {
                            var suggestionsList = $('#suggestions');
                            suggestionsList.empty();
                            data.forEach(function (suggestion) {
                                var suggestionItem = '<a href="#" class="list-group-item list-group-item-action" data-id="' + suggestion.id + '">' + suggestion.firstName + ', ' + suggestion.lastName + ' (' + suggestion.specialization + ')</a>';
                                suggestionsList.append(suggestionItem);
                            });
                        }
                    });
                } else {
                    $('#suggestions').empty();
                }
            });

            $(document).on('click', '.list-group-item', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                window.location.href = '@Url.Action("UserDetails", "Users")' + '?id=' + id;
            });

            $('.clickable-row').on('click', function () {
                var id = $(this).data('id');
                window.location.href = '@Url.Action("UserDetails", "Users")' + '?id=' + id;
            });
        });
    </script>
}

